html { overflow: hidden; }
body { font-family: 'Open Sans', sans-serif; line-height: 1.2; font-size: 45px; }

.background {
	position: fixed;
	height: 100%;
	width: 100%;
	background: -moz-radial-gradient(50% 50%, farthest-side, #fff, #efefef);
	background: -webkit-gradient(radial, 50% 50%, 250, 50% 50%, 750, from(#fff), to(#efefef));
	z-index: 0;
    opacity: 1;
}

a, a:hover, a:visited {
    text-decoration: none;
    font-style: normal;
    color: #666;
    cursor: pointer;
}
a:hover { color: #333;}

.title { font-size: 275px; }
.question {font-size: 150px; }
.big { text-transform: uppercase; margin: 0; padding: 0; }
.bold { font-weight: 600; }
.light { font-weight: 400; }
.extralight { font-weight: 300; letter-spacing: .1em; }
.small { display: block; padding: 20px; font-size: 20px; font-weight: 600; }

blockquote {
    text-align: justify;
    font-weight: 300;
    font-style: italic;
    line-height: 1.4;
}

blockquote .author {
    display: block;
    text-align: right;
    padding: 10px 40px;
    font-weight: 600;
    font-size: 36px;
}

.img-wrap {	margin: 0 auto; }
.img-inline { display: inline-block; padding: 12px 3px; }
.img-link {	text-decoration: none; }
.img-border { border: solid 1px #aaa; }


/* COMMON STEP STYLES */

.step {
    text-align: center;
    width: 1000px;
    padding: 20px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;

    text-shadow: rgba(0,0,0,.01) 0 0 1px; /* Chrome @font-face anti-aliasing fix */
}

.step:not(.active) { opacity: 0.1; }


/* STEP SPECIFIC STYLES */
#title {width: 1240px; height: 600px; text-align: left; }
#title-text1 { font-size: 102px; }
#title-text2 { font-size: 153px; }
#title-text3 { font-size: 141px; }

#about-text1 { font-size: 84px; }
#about-text2 { font-size: 202px; }
#about-text3 { font-size: 77px; }

#jobtitle { font-size: 142px; }
#likes { font-size: 44px; }
#office { font-size: 143px;}
#office-fluid { font-size: 77px; margin-top: 20px; }

#combo-text { font-size: 247px; }
#combo-or { position: relative; left: -20px; }
#combo-fluid-fixed div { float: left; text-align: center; }
#combo-plus { width: 10%; font-size: 100px; }
#combo-fixed, #combo-fluid { width: 45%; }
#combo-fluid-fixed div .bold { font-size: 63px; width: 100%; }
#combo-fluid-fixed div .light { font-size: 50px; width: 100%; }
#combo-fluid .light { letter-spacing: 3px; }

#why-sml { letter-spacing: 19px; font-size: 37px; position: relative; left: 10px; }
#why-one-site { font-size: 200px; }
#why-every { font-size: 94px; }
