html { overflow: hidden; }
body { font-family: 'Open Sans', sans-serif; line-height: 1.2; font-size: 45px; }

.background {
	position: fixed;
	height: 100%;
	width: 100%;
	background: -moz-radial-gradient(50% 50%, farthest-side, #fff, #efefef);
	background: -webkit-gradient(radial, 50% 50%, 250, 50% 50%, 750, from(#fff), to(#efefef));
	z-index: 0;
    opacity: 1;
}

a, a:hover, a:visited {
    text-decoration: none;
    font-style: normal;
    color: #666;
    cursor: pointer;
}
a:hover { color: #333;}

.title { font-size: 275px; }
.question {font-size: 150px; }
.big { text-transform: uppercase; margin: 0; padding: 0; }
.bold { font-weight: 600; }
.light { font-weight: 300; }
.lc { text-transform: lowercase; }
.extralight { font-weight: 300; letter-spacing: .1em; }
.small { display: block; padding: 20px; font-size: 20px; font-weight: 600; }

.pic {
    background: url('../img/myPic.JPG');
    background-size: 300px 300px;
    background-position: 0px 0px;
    width: 200px;
    height: 200px;
    position: relative;
    left: 380px;
    border-radius: 50%;
}

/* COMMON STEP STYLES FOR MOVEMENT*/

.step {
    text-align: center;
    width: 1000px;
    padding: 30px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;

    text-shadow: rgba(0,0,0,.01) 0 0 1px; /* Chrome @font-face anti-aliasing fix */
}

.step:not(.active) { opacity: 0.05; }


/* STEP SPECIFIC STYLES */
#title {width: 1240px; height: 600px; text-align: left; }
#title-text { font-size: 150px; }

#about-text1 { font-size: 84px; }
#about-text2 { font-size: 202px; }
#about-text3 { font-size: 77px; }

#jobtitle { font-size: 142px; }
#office { font-size: 142px;}
#office-fluid { font-size: 77px; margin-top: 20px; }
